* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.MainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  width: 90%;
  margin: 0 auto;
}

nav ul {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  list-style: none;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  gap: 0;
  margin: 0;
  padding: 0;
}

nav ul li {
  color: #666;
  font-size: 1.5rem;
}

nav ul li a {
  color: inherit;
  text-decoration: none;
  padding-left: 1rem;
  padding-right: 1rem;
}

.selectedTab {
  color: white;
  background-color: #008cba;
}

.SearchBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.SearchBar {
  padding: 0.2rem;
  width: 100%;
  border-radius: 3px;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.SearchBar:focus {
  outline-color: #008cba;
}

.MoviesShowsContainer {
  width: 100%;
}

.CardsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5vh;
  row-gap: 1.5vh;
}

.ImageCard {
  width: 100%;
}

.Card {
  min-width: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.Card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.CardTitle {
  font-size: 3vw;
}

.CardTitle:hover {
  color: #008cba;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  margin: 0 auto;
}

.btnBox {
  display: flex;
  justify-content: left;
  align-items: center;
}

.btnBack {
  border-radius: 5px;
  border-color: #008cba;
  font-size: 1.5rem;
  color: #666;
  background-color: #f3f3f3;
}

.btnBack:hover {
  color: white;
  background-color: #008cba;
}

.video {
  border: 0;
  width: 100%;
  overflow: hidden;
  min-height: 40vw;
}

.detailsImage {
  width: 100%;
}

.loader {
  border: 2px solid #eaf0f6;
  border-radius: 50%;
  border-top: 2px solid #ff7a59;
  width: 50px;
  height: 50px;
  animation: spinner 4s linear infinite;
}

.imgWithTitle {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.DetailTitle {
  padding: 1rem;
}

.Overview {
  color: #666;
  font-style: italic;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
